StressTesting/SampleData/StressTestsDataSource/StressTestsDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.StressTestsDataSource" targetNamespace="Expression.Blend.SampleData.StressTestsDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StressTestsDataSource" type="tns:StressTestsDataSource" />
  <xs:complexType name="StressTestsDataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Name" name="Category" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="Status" type="xs:double" />
  </xs:complexType>
</xs:schema>